html{
    height: 100%;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(188, 188, 219);
}
.piano-logger{
    overflow: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    margin: auto;
}
.bar-log{
    overflow: auto;
    float: left;
    height: 85%;
    width: 100%;
}
.bar-log .bar-column{
    width: 14.285%;
    height: 100%;
    float: left;
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
    position: relative;
    box-sizing: border-box;
    background-color: darkslategray;
}
.bar-column .bar{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: peachpuff;
    box-shadow: 0px 0px 10px peachpuff;
    box-sizing: border-box;
    z-index: 2;
}
.piano{
    overflow: auto;
    user-select: none;
    float: left;
    height: 15%;
    width: 100%;
    clear: both;
}

.piano .key{
    width: 14.285%;
    height: 100%;
    background-color: palegoldenrod;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
}
.piano .key.clicked{
    background-color: powderblue;
}
@media screen and (max-width: 400px){
    .piano-logger{
        width: 100%;
    }
}
@media screen and (max-width: 200px){
    .piano-logger{
        width: 200px;
    }
}